input{
    padding: 10px;
    margin: 5px;
}
input[type="submit"]{
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
input{
    width:100%;
}
input[type="submit"]:hover {
    background-color: #45a04994;
}
button.btn.btn-primary {
    background-color: #6d49ee;
    color: white;
    border: none;
    cursor: pointer;
}
button.btn.btn-primary:hover {
    background-color: #5a23c8;
}

button.btn.btn-secondary {
    background-color: #e20f0f;
    color: white;
    border: none;
    cursor: pointer;
}
button.btn.btn-secondary:hover {
    background-color: #c10b0ba9;
}

modal-header{
    background-color: #6d49ee;
    color: white;
    width:100%;
    display: flex;
}
modal-body{
    background-color: #f1f1f1;
    color: black;
    width:100%;
    display: flex;
    flex-direction: column;
}
div.input-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%;
    float: left;
    padding: 5px;
    border-radius: 25px;
    width: 100%;
}
form.form-signin{
    width: 100%;
    padding: 10px;
    margin: auto;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}